<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
	<test thread-count="5" name="Test1">
		<classes>
			<class name="testBase.BaseClass" />
			<class name="testCase.TC_001_DisplayNameAndPrice" />
		</classes>
	</test> <!--
	Test -->
	
	<test thread-count="5" name="Test2">
		<classes>
			<class name="testBase.BaseClass" />
			<class name="testCase.TC_002_RetriveSubMenuItems" />
		</classes>
	</test> <!--
	Test -->
	
</suite> <!--
Suite -->
