<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
	<listeners>
		<listener class-name="utilities.ExtentReportManager" />
	</listeners>

	<test thread-count="5" name="Test1">
		<classes>
			<class name="testBase.BaseClass" />
			<class name="testCase.TC_001_DisplayNameAndPrice" />
			<class name="testCase.TC_002_RetriveSubMenuItems" />
			<class name="testCase.TC_003_GiftCardSectionValidation" />
		</classes>
	</test> <!--
	Test -->

</suite> <!--
Suite -->
